

@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Noto Sans", sans-serif;
}

header {
    background-image: linear-gradient(to top, rgba(0,0,0,0.8),rgba(0,0,0,0.2)), url(../images/main-bg.jpg);
    background-size: cover;
    background-position: center top;
}
h1, h2, h3, h4, h5{
   font-family: "Gugi", sans-serif; 
}
#sns-links {
   background-image: linear-gradient(to top, rgba(0,0,0,0.8),rgba(0,0,0,0.2)), url(../images/news-bg.jpg);
   background-size: cover;
   background-position: center;
}
@media (min-width:768px){
    .sns2{
        width:50%;
    }

}

